.articleSmall {
    flex-direction: column;

    border-radius: 5px;

    max-width: 25%;
    max-height: auto;

    display: flex;
    flex: 1 1 auto;
}

.articleSmall p {
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
    font-size: 1rem;

    flex: 1 1;
}

.articleSmall img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    object-fit: cover;
    max-height: 40%;
}

.articleSmall > div {
    border: 1px solid #d8dbde;
    border-top: none;

    padding: 1.8rem 1.8rem;
    padding-top: .5rem;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    overflow: hidden;
    height: 100%;
}

.articleSmall:hover {
    cursor: pointer;

    border-color: #bab8c2;
    background-color: #fafbfb;
}

.articleLarge {
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    max-height: 360px;
    max-width: 45%;
}

.articleLarge img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    object-fit: cover;

    max-height: 100%;
    max-width: 40%;
}

.articleLarge > div {
    border: 1px solid #d8dbde;
    border-left: none;

    padding: 1.8rem 1.8rem;
    padding-top: .5rem;

    width: 100%;
    flex: 1;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    height: 100%;
}

.articleLarge:hover {
    cursor: pointer;

    border-color: #bab8c2;
    background-color: #fafbfb;
}

.article {
    flex: 1 1;
    width: 100%;
    padding: 42px 0px 0px;
    display: flex;
    flex-direction: column;
}

.article section:not(:first-of-type) {
    width: 58%;
    margin: .8rem auto;
}

.articleHeader {
    --color: #fdfdfd;
    --background-light: #222429;
    --background-dark: rgb(20, 20, 25); 
    --border-color: #282a2e;

    border-bottom: 2px solid var(--background-light);
    background-color: var(--background-dark);
    color: var(--color);

    width: 100%;
    margin: 0;

    padding: 12rem 0rem 1rem 0rem;
}

.articleHeader > div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-end;
}

.articleHeader h1 {
    font-size: 5rem;
    font-weight: 900;

    margin: 0;
}

.articleHeader > div {
    width: 58%;
    margin: .8rem auto;
}

.articleBody {
    color: #222429;

    display: flex;
    flex-direction: column;
}

.articleBody h1 {
    font-weight: 600;
    font-size: 2rem;
    font-family: "guillon", sans-serif;
    line-height: 1.23em;
    
    margin-top: 1rem !important;
    margin-bottom: 1rem;
}

.articleBody h2 {
    font-weight: 600;
    font-size: 1.4rem;

    margin: 6px 0px;
    font-family: "guillon", sans-serif;
}

.articleBody h3 {
    font-weight: 400;
    font-size: 1.2rem;

    margin: .4rem 0rem;
    font-family: "public sans", sans-serif;
}

.articleBody p {
    opacity: 0.9;
    text-align: justify;
    margin: .6rem 0rem;

    font-size: .95rem;
    line-height: 1.2rem;
}

.articleInput_h1 {
    font-weight: 600 !important;
    font-size: 2rem !important;
    font-family: "guillon", sans-serif !important;
    line-height: 1.23em !important;
    
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.articleInput_h2 {
    font-weight: 600 !important;
    font-size: 1.4rem !important;

    margin: 6px 0px !important; 
    font-family: "guillon", sans-serif !important;
}

.articleInput_h3 {
    font-weight: 400 !important;
    font-size: 1.2rem !important;

    margin: .4rem 0rem !important;
    font-family: "public sans", sans-serif !important;
}

.articleInput_p {
    opacity: 0.9 !important;
    text-align: justify !important;
    margin: .6rem 0rem !important;

    font-size: .95rem !important;
    line-height: 1.2rem !important;

    outline: none !important;
    border: none !important;

    width: 100% !important;
    height: 100% !important;

    flex: 1 !important;

    white-space: pre-wrap !important;
}

.articlePageBreak {
    height: 15px;
    align-self: center;
    justify-self: center;

    opacity: 0.5;
    margin: 1rem 0rem;

    width: 100%;
}

.articleInput {
    display: flex;
    width: 100%;

    background-color: transparent;

    opacity: 0.9;
    text-align: justify;

    font-size: .95rem;
    line-height: 1.2rem;

    padding: 0;

    outline: none;
    border: none;

    font-family: 'Public Sans';
}

.currentInput {
    height: auto;
    width: 5px;

    background-color: transparent
}

.inputContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    border-radius: 5px;
}

.pageLine {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin: 0;
}

.pageLine:hover {
    cursor: pointer;
}

.pageLine svg {
    height: 1rem;
}

.pageLine hr {
    background-color: #222429;
    border: none;

    width: 100%;
    height: 1px;

    margin: 0;

    border-radius: 5px;
    max-height: 1px;
}

.invisivblePageLine {
    opacity: 0;
}

.visiblePageLine {
    opacity: .3;
}

.inputFieldContainer {
    display: flex;
    position: relative;

    align-items: center;

    transition: .55s ease all;
}

.relativeEditor {
    position: absolute;
    left: -30px;
}

.relativeEditor:hover {
    cursor: pointer;
}

.inputModule {
    display: flex;
}

.editorSettings {
    position: absolute;
    bottom: 20px;
    border: 0px solid #22242921;

    background-color: #fdfdfd;
    border-radius: 5px;
    padding: .3rem .8rem;

    width: 130px;
    box-shadow: #13151b63 0px 2px 6px;
}

.editorSettings p {
    width: 100%;
    background-color: #fafbfb;

    border-radius: 5px;
    padding: .2rem .5rem;
}

.editorSettings p:hover {
    background-color: #a2a3a518;
}

.relativeEditorContent {
    width: 100%;
}

.articleSyncing {
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .7rem;

    padding: .5rem 1rem;
    width: auto;

    background-color: #f0a83c5d;
    color: #ffbb00;

    user-select: none;
}

.articleSyncing svg {
    animation: Spin infinite 2s ease-in-out;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.articleSynced {
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .7rem;

    padding: .5rem 1rem;
    width: auto;

    background-color: #3cf06333;
    color: #52dd12;

    user-select: none;
}