.articleContainer {
    min-height: 100vh;
  
    width: 100%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    font-family: "Public Sans";
}

.articleContainer > *:not(.article) {
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .articleContainer {
        width: 100%;
    }

    .articleContainer > *:not(.article) {
        width: 80%;
    }
}

.articleSmall {
    flex-direction: column;

    border-radius: 5px;

    /* max-width: 25%;
    max-height: 30%; */

    display: flex;
    flex: 1 1 auto;

    transition: .2s ease all;
    border: 1px solid #d8dbde;

    height: 100%;
    max-height: 250px;

    max-width: 350px;
    width: auto;
    /* max-width: 100%; */

    gap: .8rem;
}

.articleSmall * {
    margin: 0;
}

.articleSmall p {
    /* white-space: pre-wrap;
    text-overflow: ellipsis;

    overflow: hidden;
    font-size: 1rem; */

    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* flex: 1 1; */
}

.articleSmall h3 {
    color: #262231;
    font-weight: 700;
}

.articleSmall img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.articleSmall .imagePlaceholder {
    background-color: #5de993;

    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    object-fit: cover;
    max-height: 200px;
    min-height: 100px;

    border: none;
}

.articleSmall > div:first-of-type *:not(img) {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.articleSmall > div:first-of-type {
    max-width: 100%;
    max-height: 45%;
    height: 100%;
    width: 100%;

    position: relative;
    overflow: hidden;
}

.articleSmall > div:not(:first-of-type) {
    /* border: 1px solid #d8dbde; */
    border-top: none;

    padding: 1.8rem 1.8rem;
    padding-top: 1rem;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    overflow: hidden;
}

.articleSmall:hover {
    cursor: pointer;

    border-color: #bab8c2;
    background-color: #fafbfb;
    /* box-shadow: 0px 0px 6px 1px #22242928; */
}

.articleLarge {
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    max-height: 360px;
    max-width: 100%;

    height: 100%;

    transition: .2s ease all;
    border: 1px solid #d8dbde;
}

.articleLarge img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    object-fit: cover;

    max-height: 100%;
    max-width: 40%;
}

.articleLarge .imagePlaceholder {
    /* background: rgb(170,234,171); */
    background: linear-gradient(90deg, rgba(170,234,171,1) 0%, rgba(198,215,245,1) 100%);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    object-fit: cover;
    border: none;

    padding: 1.8rem 1.8rem;
    padding-top: .5rem;

    width: 100%;
    flex: 1 1;
    min-height: 40%;
    min-width: 150px;
}

.articleLarge > div:not(.imagePlaceholder) {
    /* border: 1px solid #d8dbde; */
    border-left: none;

    padding: 1.8rem 1.8rem;
    padding-top: .5rem;

    width: 100%;
    flex: 1;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    height: 100%;
    min-width: 225px;
}

.articleLarge:hover {
    cursor: pointer;

    border-color: #bab8c2;
    background-color: #fafbfb;
}

.article {
    flex: 1 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 6rem;

    /* position: relative; */
}

.article section:not(:first-of-type) {
    width: 35%;
    margin: 4rem auto;
}

.article section.articleImage {
    width: 100%;
    margin: 0;

    object-fit: cover;
    height: 400px;
}

.articleBody * {
    line-height: 1.6rem !important;
}

.articleBodyView {
    margin: 2rem auto !important;
}

.articleHeader {
    --color: #0f0f0f;
    --background-light: #222429;
    --background-dark: rgb(20, 20, 25); 
    --border-color: #282a2e;

    border-bottom: 2px solid var(--background-light);
    /* background-color: var(--background-dark); */
    color: var(--color);

    width: 100%;
    margin: 0;

    padding: 0rem 0rem 6rem 0rem;
    border: none;

    background-size: cover;

    width: 35%;
    margin: 0 auto;
}

.articleHeader > div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-end;
}

.articleHeader h1 {
    font-size: 6rem;
    font-weight: 900;
    padding-top: 3rem;
    line-height: 6rem;

    margin: 0;
}

.articleHeader > div > p {
    font-size: 1.1rem;
    font-weight: 300;
}

.articleHeader > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    position: relative;
}

.articleTags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    /* margin-top: 6rem; */
    top: 0;

    background-color: #fff;
    z-index: 800;
}

.articleTags > div {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 50px;
}

.articleTags >* {
    font-size: .9rem;
    opacity: .7;
}

.articleTags > div div {
    background-color: #e8ece9;
    padding: .4rem 1rem;
    border-radius: 5px;
}

.articleTags p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article *:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .articleHeader h1 {
        font-size: 3.7rem !important;
        font-weight: 900;
        line-height: 3.6rem;
        overflow: hidden;
    
        margin: 0;
    }

    .articleHeader {
        width: 80%;
    }

    .article section:not(:first-of-type):not(.articleImage) {
        width: 80%;
    }

    .articleTags > div:first-of-type {
        width: 80%;
    }

    .articleTags > div:first-of-type:not(.articleTagsSticky) > div:first-of-type {
        display: none;
    }

    .articleTagsSticky > div {
        display: none;
    }

    .articleTagsSticky p {
        display: none;
    }

    .articleStickyHeader {
        border-bottom: 1px solid #eaeaea;
    }

    .articleHeader {
        padding-top: 0rem;
    }

    .articleImage {
        height: 300px !important;
    }

    .article {
        margin-top: 0;
    }

    .articleBody h1 {
        font-size: 1.5rem !important;
        font-weight: 800 !important;
    }

    .articleBody h2 {
        font-size: 1.3rem !important;
        font-weight: 600 !important;
        margin-top: 1.4rem !important;
    }
    
    .articleBody h3 {
        margin-top: 1.2rem !important;
    }
}

.articleBody {
    color: #222429;

    font-family: "consolas";

    display: flex;
    flex-direction: column;
}

.articleBody * {
    font-family: "consolas" !important;
}

.articleBody h1 {
    font-weight: 700;
    font-size: 2rem;
    font-family: "guillon", sans-serif;
    line-height: 1.23em;
    
    margin-top: 1rem !important;
    margin-bottom: 1rem;
}

.articleBody h2 {
    font-weight: 600;
    font-size: 1.4rem;

    margin: 6px 0px;
    font-family: "guillon", sans-serif;
}

.articleBody h3 {
    font-weight: 500;
    font-size: 1.2rem;

    margin: .4rem 0rem;
    font-family: "public sans", sans-serif;
}

.articleBody p {
    opacity: 0.9;
    text-align: justify;
    margin: .6rem 0rem;

    font-size: .95rem;
    line-height: 1.2rem;
}

.articleBody img {
    width: 50%;
    border-radius: 3px;
}

.articleBody i {
    font-size: .6rem;
    color: rgba(0, 0, 0, .4);
}

.imageContainer {
    width: inherit;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
    margin: 1rem auto;
}

.articleInput_h1 {
    font-weight: 700 !important;
    font-size: 2rem !important;
    font-family: "guillon", sans-serif !important;
    line-height: 1.23em !important;
    
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.articleInput_h2 {
    font-weight: 600 !important;
    font-size: 1.4rem !important;

    margin: 6px 0px !important; 
    font-family: "guillon", sans-serif !important;
}

.articleInput_h3 {
    font-weight: 500 !important;
    font-size: 1.2rem !important;

    margin: .4rem 0rem !important;
    font-family: "public sans", sans-serif !important;
}

.articleInput_p {
    opacity: 0.9 !important;
    text-align: justify !important;
    margin: .6rem 0rem !important;

    font-size: .95rem !important;
    line-height: 1.2rem !important;

    outline: none !important;
    border: none !important;

    width: 100% !important;
    height: 100% !important;

    flex: 1 !important;

    white-space: pre-wrap !important;
}

.articlePageBreak {
    height: 15px;
    align-self: center;
    justify-self: center;

    opacity: 0.5;
    margin: 1rem 0rem;

    width: 100%;
}

.articleInput {
    display: flex;
    width: 100%;

    background-color: transparent;

    opacity: 0.9;
    text-align: justify;

    font-size: .95rem;
    line-height: 1.2rem;

    padding: 0;

    outline: none;
    border: none;

    font-family: 'Public Sans';
}

.currentInput {
    height: auto;
    width: 5px;

    background-color: transparent
}

.inputContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    border-radius: 5px;
}

.pageLine {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin: 0;
}

.pageLine:hover {
    cursor: pointer;
}

.pageLine svg {
    height: 1rem;
}

.pageLine hr {
    background-color: #222429;
    border: none;

    width: 100%;
    height: 1px;

    margin: 0;

    border-radius: 5px;
    max-height: 1px;
}

.invisiblePageLine {
    opacity: 0;
}

.visiblePageLine {
    opacity: .3;
}

.inputFieldContainer {
    display: flex;
    position: relative;

    align-items: center;
    gap: 1rem;

    transition: .55s ease all;
}

.relativeEditor {
    /* position: absolute; */
    left: -1%;

    display: flex;
    flex-direction: row;
    gap: 2px;
}

.relativeEditor:hover {
    cursor: pointer;
}

.relativeEditor > div svg {
    height: 20px;
    width: 20px;   
}

.relativeEditor > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    padding: .1rem;    
}

.relativeEditor > div:hover {
    background-color: #e8ece9;
}

.relativeEditor > div.hoveredElem {
    background-color: #e8ece9;
}

.inputModule {
    display: flex;
}

.editorSettings {
    position: absolute;
    z-index: 700;
    bottom: 100%;
    border: 0px solid #22242921;

    background-color: #fdfdfd;
    border-radius: 5px;
    padding: .8rem;

    width: 130px;
    box-shadow: #13151b63 0px 2px 6px;

    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.editorSettings * {
    user-select: none;
}

.editorSettings div {
    width: 100%;
    background-color: #fafbfb;

    border-radius: 5px;
    padding: .2rem .5rem;
}

.editorSettings div:hover {
    background-color: #e8ece9;
}

.relativeEditorContent {
    width: 100%;
    border-radius: 3px;
}

.relativeEditorContent:focus {
    outline: none;
    /* box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px; */
}

.articleSyncing {
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .7rem;

    padding: .5rem 1rem;
    width: auto;

    background-color: #f0a83c5d;
    color: #ffbb00;

    color: #0f0f0f;

    user-select: none;

    background-color: white;
}

.articleSyncing svg {
    animation: Spin infinite 2s ease-in-out;
}

.articleFailed {
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .7rem;

    padding: .5rem 1rem;
    width: auto;

    background-color: #f0a83c5d;
    color: #bc4242;

    user-select: none;

    background-color: white;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.articleSynced {
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: .7rem;

    padding: .5rem 1rem;
    width: auto;

    background-color: #3cf06333;
    /* color: #52dd12; */

    user-select: none;

    background-color: white;
    color: #0f0f0f;
}

.readonlyDiv {
    cursor: inherit !important;
}

.articleElementDiv {
    height: auto;
    width: auto;

    max-width: 100%;
    max-height: 100%;
}

.stickyHeader {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100% !important;
    z-index: 800;
    background-color: #e8ece9;

    transition: .55s ease all;
}

.stickyHeader > div {
    width: 35%;
    margin: 0 auto;

    /* border-bottom: 1px solid #e8ece9; */
}