html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "guillon";
}


@font-face {
  font-family: "guillon";
  src: url("../public/guillon_reg.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "guillon";
  src: url("../public/guillon_demi.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "guillon";
  src: url("../public/guillon_bold.woff2");
  font-weight: 800;
}