.container {
  min-height: 100vh;

  width: 60%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Public Sans";
}

.container p {
  font-family: 'Public Sans', sans-serif;
}

.darkContainer {
  min-height: 100vh;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #222429;
  --color: #fdfdfd;
  --background-light: #222429;
  --background-dark: #141419; 
}

.main {
  padding: 5rem 0;
  flex: 1;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerParent {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 60px 0;
}

.footer p {
  font-size: .9rem;
}

.footer h6 {
  opacity: 1;
  font-size: .8rem;
  margin: 0;
}

.footer > div:not(:first-of-type) {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  width: calc(100% * 0.3);
}

.footer > div:not(:first-of-type) p {
  font-weight: 700;
  font-size: 1rem;
}

.footer > div:not(:first-of-type) a {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
}

.footer > div:not(:first-of-type) div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 50%;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.headerIcon {
  font-size: 1.25rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .2rem;
}

.headerIcon:hover {
  cursor: pointer;
}

.mainBody {
  flex: 1;
  width: 100%;

  padding-bottom: 5rem;
  
  /* padding: 82px 0px 0px; */
}

.mainBodyBody {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;

  padding-bottom: 5rem;
  
  /* padding: 82px 0px 0px; */
}

.articlesList {
  display: flex;
  gap: 1rem;
  overflow: hidden;

  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }

  .notOnMobile {
    display: none;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .footer > div:not(:first-of-type) {
    width: 100%;
  }

  .homeSection > div:first-of-type h1 {
    font-size: 4rem !important;
    position: relative;
    text-align: left;
  }

  .homeSection > div:first-of-type h1:after {
    display: none;
  }

  .homeSection > div:first-of-type p {
    font-family: "Public Sans";
  }

  .homeSection > div:not(:first-of-type) img {
    display: none;
  }

  .homeSection {
    display: flex;
    flex-direction: column !important;
  }

  .headerLinks {
    gap: 1rem !important;
  }

  .homeArt {
    display: none;
  }

  .column {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

.homeSection {
  /* padding: 0px 0px 80px; */

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.homeSection > div:not(:first-of-type) {
  height: 250px;
  width: 250px;

  padding: 0 !important;
  position: relative;
}

.homeSection > div:not(:first-of-type) img {
  height: 500px;
  width: 500px;

  position: absolute;
  left: -50%;
}

.adminViewportSection {
  padding: 0px 0px 80px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.adminViewportSection > div:first-of-type {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}

.adminViewportSection > div:first-of-type button {
  margin-bottom: 2rem;
}

.homeSection > div:first-of-type {
  display: flex;
  flex-direction: column;
}

.homeSection > div:first-of-type h1 {
  font-size: 8rem;
  position: relative;
}

.homeSection > div:first-of-type button {
  margin-bottom: 2rem;
}

.homeSection > div:not(:first-of-type) {
  margin-top: 2rem;
  padding: 5rem;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.mainBody h1 {
  font-weight: 800;
  font-size: 72px;
  font-family: "guillon", sans-serif;
  line-height: 1.23em;
  color: rgb(29, 25, 41);

  margin-bottom: 1rem;
}

.mainBodyBody h1 {
  font-weight: 800;
  font-size: 72px;
  font-family: "guillon", sans-serif;
  line-height: 1.23em;
  color: rgb(29, 25, 41);

  margin-bottom: 1rem;
}

.mainBodyBody section {
  width: 100%;
}

/* .mainBodyBody section {
  width: 50% !important;
  margin: .8rem auto;
} */

.mainBody > section:first-of-type {
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;

  width: 100%;
  /* border-bottom: 1px solid rgba(63, 63, 63, 0.123); */

  padding: 16px 0px;

  z-index: 10;

  top: 0px;
  width: 100%;
  padding: 16px 0px;

  /* border-bottom: 1px solid #edf2f9; */

  background-color: rgb(255 255 255 / 86%);
  backdrop-filter: blur(5px);
  color: #1d1929;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  /* width: 88%; */
  width: 100%;
  margin: .8rem auto;
}

.headerIcon h3 {
  margin: 0;
  font-size: 1.3rem;

  margin-top: -1px;
}

.headerIcon svg {
  height: 1.1rem;
  color: #5de993;
  /* color: #0f0f0f77; */
}

.headerLinks {
  gap: 3rem;

  font-size: 1rem;

  display: flex;
  flex-direction: row;
}

.headerLinks a {
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
}

.headerLinks a:hover {
  /* border-bottom: 2px solid #1d1929; */
  border-bottom: 2px solid #aaeaab;
}

.input {
  font-size: 1rem;

  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid transparent;

  transition: border-color .2s ease-in-out;
  padding: 10px;
  height: 40px;

  font-size: .8rem;
  font-weight: 100;

  border: 1px solid #d8dbde49;
  font-size: .9rem;

  border-radius: 5px;

  font-weight: 400;
  box-shadow: #26223110 0px 1px 2px;

  border: 1px solid #d8dbde;
  box-shadow: #26223110 0px 1px 2px;
}

.input:focus {
  outline: none;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  /* background-color: #222429 !important; */

  /* color: var(--text-normal); */
}

.inputModule h4 {
  color: var(--text-normal);

  margin-bottom: 8px;

  font-size: .68rem;
  line-height: 16px;

  font-weight: 600;
  text-transform: uppercase;

  user-select: none;
}

.inputActive {
  outline: none;
  border: 1px solid #222429;

  border: 1px solid #d8dbde;
  font-size: .9rem;
  background-color: #fff;

  border-radius: 5px;

  font-weight: 400;
  box-shadow: #26223110 0px 1px 2px;
}

.articleTable {
  width: 100%;

  color: #262231;
  font-size: 1rem;

  padding: .8rem 4.5rem;
  background-color: #fff;

  border-radius: 5px;

  font-weight: 400;

  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.tableElement {
  box-shadow: 5px;

  border: 1px solid #d8dbde;
  color: #262231;
  font-size: 1rem;

  padding: 0rem 2rem;
  background-color: #fff;

  border-radius: 5px;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 1rem;

  font-weight: 400;
  box-shadow: #26223110 0px 1px 2px;
}

.tableElement:hover {
  cursor: pointer;

  border-color: #bab8c2;
  background-color: #fafbfb;
  cursor: pointer;
}

.tableElement p:first-of-type {
  width: 100%;
  flex: 1;
}

.articleTable th, .articleTable td {
  padding: .1rem;
}

.articleTable th {
  text-align: left;

  font-weight: 100;
}

.articleDraft {
  border-radius: 55px;

  padding: .1rem 1rem;
  width: auto;

  background-color: #e691125d;
  color: #331f00d5;
}

.articlePublished {
  border-radius: 55px;

  padding: .1rem 1rem;
  width: auto;

  background-color: #7afe975d;
  color: #03711b;
}

.headerTitleAid {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.headerTitleAid > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-gap: .7rem;
  gap: .7rem;
  padding: .5rem .5rem;

  width: auto;
  color: #ffffff;

  cursor: pointer;
}

.settingsOverlay {
  position: fixed;
  z-index: 999;

  width: 100%;
  height: 100vh;

  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  background-color: #1414195b;

  transition: .55s ease all;
  overflow: hidden;
}

.settingsOverlay > div {
  height: fit-content;
  width: 30%;

  /* border: 1px solid #d8dbde; */
  color: #262231;
  font-size: 1rem;

  padding: 2.5rem;
  background-color: #fff;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  /* gap: 1rem; */

  font-weight: 400;
  box-shadow: #26223110 0px 1px 2px;

  height: 60vh;
  overflow: auto;
  overflow-x: hidden;

  background-color: #e8ece9;
  border-radius: 5px;
}

.settingsOverlay > div::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 5px;

  width: 6px;
}

.settingsOverlay > div::-webkit-scrollbar-thumb {
  /* background-color: #62e6ac; */

  width: 5px !important;
  border-radius: 5px;
}

.settingsOverlay > div div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  flex-direction: row;
  align-items: center;
}

.settingsOverlay > div div:not(.inputModule) {
  gap: 1rem;
}

.settingsOverlay > div div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settingsOverlay > div div > h3 {
  margin: 0;
  white-space: nowrap;
}

.settingsOverlay button {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.settingsOverlay hr {
  width: 100%;
  border: none;
  height: 1px;

  background-color: #1414191e;
}

.homeArt {
  /* background-color: #62e6ac; */
  height: 250px;
  width: 250px;

  position: absolute;
  top: 0;
  left: 0;

  top: 100px;

  pointer-events: none;
}

.homeArt img {
  height: 850px;
  position: absolute;
  left: 0;

  transform: scaleX(-1);
}

.articleMainBody {
  padding: 30px 0px 80px !important;
}

.articleMainBody h1 {
  margin-top: 1rem;
}